<h1>Hello <%= @user.name %>!</h1>
<br>
<!-- If you are a composter -->
<%#= link_to "Add a composter", new_composter_url,  class:"button" %>
<%= form_for (@user) do |f| %>

	<%= f.label :email %>
	<%= f.text_field :email %>

	<%= f.label :postcode %>
	<%= f.text_field :postcode %>


	<%= f.submit "Save", class: "btn btn-large btn-primary" %>
<% end %>
