Connexion Compost server


<% if current_user %>
  Welcome <%= current_user.name %>!
  <%= link_to "Sign Out", signout_path %>

  <h3>Your composters, <%= @user.id %></h3>
<% @composters.each do |composter| %>
<li> <%= composter.address %> </li>
<% end %>  

<% else %>
  <%= link_to "Sign in with Twitter", "/auth/twitter" %> ||  
  <%= link_to "Sign in as Developer", "/auth/developer" %>
<% end %>

